.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding: 11px 15px;
    cursor: pointer;
    color: $base-light;
    background-color: transparent;
    border: none;
    border-radius: $base-radius;
    font-weight: $font-roman;
    //font-weight: 700;
    font-size: 23px;
    line-height: 1.15;
    position: relative;
   // overflow: hidden;
    outline: none;
    transition: all 0.19s ease-out;
    //user-select: none;
    &:hover,
    &:focus,
    &:active {
        outline: none;
    }
    &--out {
        border: 2px solid $dark-blue;
        color: $dark-blue;
    }
    &--link {
        border-radius: 25px;
        padding: 6px 14px;
        font-size: 20px;
    }
    &--more{
        background-color: $orange;
        font-size: 18px;
        padding: 4px 14px;
        //border: 1px solid $orange;
        &:hover,
        &:focus {
            color: $orange;
            background-color: $base-light;
        }
    }
    &--dark {
        background-color: $dark-blue;
    }
    &--primary {
        background-color: $orange;
        text-transform: uppercase;
    }
    &--play {
        border-radius: 0;
        width: 100%;
        height: 100%;
        font-size: 35px;
        display: inline-block;
        .icon--play {
            transform: scale(0);
        }
        &.play {
            .icon--play {
                transition: transform 0.19s ease-in;
                transform: scale(1.2);
                transform-origin: center;
            }
        }
    }
    &--action {
        font-size: 36px;
        width: 100%;
        height: 100%;
        border-radius: 0;
        padding: 0;
    }
}
