.toggle-input {
    display: none;
    + label {
        cursor: pointer;
        user-select: none;
        span {
            color: #333333;
            max-width: calc(100% - 64px);
            display: inline-block;
            word-break: break-all;
        }
        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
        }
        &::after {
            top: calc(50% - 11px);
            right: 42px;
            width: 22px;
            height: 22px;
            // margin: auto 4px;
            background-color: #333333;
            //box-shadow: 0px 1px 2px 0px red;
            border-radius: 100%;
            // transition: margin 0.2s;
            transition: transform 0.2s linear, background-color 0.2s linear;
        }
        &::before {
            right: 20px;
            top: calc(50% - 5.5px);
            width: 44px;
            height: 11px;
            background-color: rgba($color: #333333, $alpha: 0.25);
            border-radius: 5px;
            transition: background-color 0.2s linear;
        }
    }
    &:checked {
        + label {
            &::after {
                transform: translateX(22px);
                background-color: $orange;
            }
            &::before {
                background-color: rgba($color: $orange, $alpha: 0.25);
            }
        }
    }
}
.custom-input {
    position: relative;
    background-color: #ffffff;
    //height: 50px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    outline: 0;
    outline: none;
    white-space: nowrap;
    display: block;
    appearance: none;
    width: 100%;
    padding: 14px 20px;
    font-size: 20px;
    font-weight: $font-medium;
    line-height: 1;
    color: #333333;
    height: 50px;
    &::placeholder {
        font-size: 20px;
        font-weight: $font-medium;
        color: rgba($color: #333333, $alpha: 0.4);
    }
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: #ececec;
        border-color: #ececec;
    }
}
.drop-select {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 240 132.14315'%3E%3Cpath d='M128.56566,129.06384,236.45713,21.1365A12.11861,12.11861,0,0,0,219.33677,3.98026L120.006,103.34693,20.67519,3.99221A12.12284,12.12284,0,0,0,3.54287,21.14845L111.43333,129.0758A12.22838,12.22838,0,0,0,128.56566,129.06384Z' /%3E%3C/svg%3E")
        no-repeat right 20px center/22px #ffffff;
}
.choice-select {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
.choice {
    display: none;
    & + label {
        text-align: center;
        border-radius: 10px 0 0 10px;
        cursor: pointer;
        transition: all 0.15s ease-in;
    }
    &:checked {
        + label {
            background-color: $orange;
            border-color: $orange;
            color: #ffffff;
        }
    }
}
.choice + label + .choice + label {
    border-radius: 0;
    &:last-child {
        border-radius: 0 10px 10px 0;
    }
}
.form-title {
    color: #ffffff;
    font-weight: $font-bold;
    font-size: 22px;
    text-transform: uppercase;
    margin: 0 0 15px 5px;
    width: 100%;
}
.form-reset.btn,
.form-submit.btn {
    // display: block;
    // line-height: 1;
    // width: 100%;
    // font-weight: $font-bold;
    // margin: 10px 5px;
    // //  height: 60px;
    // font-size: 26px;
    // padding: 17px 20px;
    // border: 0;
    // border-radius: 10px;
}
// .form-reset.btn {
//     margin-top: 0;
//     background-color: #ffffff;
//     color: #333333;
// }
// .form-submit.btn {
//     text-transform: uppercase;
//     background-color: $orange;
//     color: #ffffff;
//     margin-bottom: 0;
// }
