.objects {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    padding-top: 20px;
}
.object-item {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 10px 20px;
    display: flex;
    flex-direction: column;
    & + .empty-list {
        display: none;
    }
}
.empty-list {
    color: $black;
    flex: 1 1 100%;
    max-width: 100%;
    text-align: center;
    padding: 0 10px;
    .btn {
        min-width: 50%;
    }
    span {
        display: block;
        margin-bottom: 20px;
    }
}
.object-img {
    height: 400px;
    max-width: 360px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    .object-heart {
        position: absolute;
        bottom: 15px;
        right: 15px;
    }
}
.object-heart {
    // position: absolute;
    // bottom: 15px;
    // right: 15px;
    display: inline-flex;
    font-size: 28px;
    cursor: pointer;
    color: #ffc4d0;
    &.liked {
        color: $liked;
    }
}
.object-about {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    color: $text-color;
    margin-top: 10px;
    .object-about__item {
        margin-top: 8px;
    }
    .object-price {
        padding-top: 8px;
        margin-top: auto;
    }
}
.object-name,
.object-price {
    font-weight: $font-bold;
    font-size: 20px;
}
.object-descr {
    font-size: 17px;
    font-weight: $font-roman;
}
.object-price {
    color: $orange;
}
//saved objects
.saved-objects {
    padding-top: 20px;
}
.saved-object-item {
    color: $text-color;
    padding: 15px 20px;
    border: 1px solid #d0d0d0;
    border-left: 4px solid $orange;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: $base-light;
    margin-bottom: 20px;
    transition: box-shadow 0.19s linear;
    &:hover {
        box-shadow: inset -3px -1px 9px 0px #d0d0d0;
    }
}
.saved-object-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px dotted rgba($color: #000000, $alpha: 0.3);
}
.saved-object-name {
    color: $orange;
    margin-right: 5px;
}
.saved-object-text {
    font-size: 22px;
}
.saved-object-body {
    padding-top: 10px;
}
.saved-object-rooms {
    padding-top: 10px;
}

.saved-object-area {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 7px;
}
.saved-object-heart {
    margin-bottom: 5px;
}
