@media screen and (max-width: 576px) {
    .navbar__logo {
        max-width: 107px;
    }
    .navbar__filter {
        font-size: 18px;
        .icon {
            font-size: 22px;
        }
    }
    //main
    .main-container {
        height: calc(100vh - 55px);
        height: calc((var(--vh, 1vh) * 100) - 55px);
    }
    .video-text {
        left: 10px;
        bottom: 10px;
    }
    .video-name {
        font-size: $font-normal;
        max-height: 46px;
    }
    .video-descr,
    .video-place {
        font-size: 16px;
        max-height: 36px;
    }
    .video-action {
        right: 11.5px;
    }
    .video-more,
    .video-profile {
        right: 5px;
    }
    //footer
    .footer {
        height: 55px;
    }
    .footer__link {
        font-size: 12px;
        .icon {
            font-size: 20px;
            margin-bottom: 6px;
        }
    }
    //modals
    .modal--full {
        height: calc(100% - 55px);
    }

    //tabs
    .tab-link {
        font-size: 12px;
    }
    //objects
    .object-img {
        height: 320px;
        max-width: 300px;
    }
    .object-name,
    .object-price {
        font-weight: 700;
        font-size: 16px;
    }
    .object-about .object-about__item {
        margin-top: 6px;
    }
    .object-descr {
        font-size: 13px;
    }
    .saved-object-text {
        font-size: 18px;
    }
     //comment
     .comment__item {
        font-size: 16px;
    }
    .comment__input{
        textarea{
            padding: 18px 32px 8px 8px;
            font-size: 16px;
            &::placeholder{
                font-size: 16px;
            }
        }
    }
    .comment__input-submit{
        font-size: 30px;
        padding: 0;
    }
}
@media screen and (max-width: 400px) {
    .btn{
        font-size: 20px;
    }
    .btn-comment {
        font-size: 18px;
    }
    .btn--more {
        font-size: 14px;
        padding: 4px 10px;
    }
    .btn--action {
        font-size: 30px;
    }
    .btn--play{
        font-size: 35px;
    }
    //header
    .navbar__filter {
        font-size: 16px;
        .icon {
            font-size: 20px;
        }
    }
    //main
    .main-container {
        height: calc(100vh - 41px);
        height: calc((var(--vh, 1vh) * 100) - 41px);
    }
    .video-name {
        font-size: 16px;
        max-height: 40px;
    }
    .video-text__item + .video-text__item {
        margin-top: 6px;
    }
    .video-text .btn {
        font-size: 14px;
    }
    .video-descr,
    .video-place {
        font-size: 12px;
        max-height: 32px;
    }
    .video-action {
        //  right: 10px;
        width: 30px;
        height: 30px;
        bottom: 5px;
    }
    .video-more {
        // right: 5px;
        width: auto;
        height: auto;
    }
  
    .video-share {
        bottom: 50px;
    }

    .video-comment {
        bottom: 96px;
    }

    .video-like {
        bottom: 142px;
    }

    .video-call {
        bottom: 188px;
    }

    .video-profile {
        bottom: 230px;
        //right: 5px;
        width: 45px;
        height: 45px;
    }
    //footer
    .footer {
        height: 41px;
    }
    .footer__link {
        padding: 6px 0 2px;
        font-size: 10px;
        .icon {
            font-size: 16px;
            margin-bottom: 5px;
        }
    }
    .footer__item--add .footer__link img {
        width: 40px;
    }
    //modals
    .modal--full {
        height: calc(100% - 41px);
    }
    //objects
    .saved-object-item {
        padding: 10px 15px;
    }
    //form
    .form-title {
        font-size: 16px;
    }
    .custom-input {
        font-size: 16px;
        &::placeholder {
            font-size: 16px;
        }
    }
    .toggle-input + label::before {
        height: 8px;
        width: 28px;
    }
    .toggle-input + label::after {
        right: 42px;
        width: 18px;
        height: 18px;
    }
    .search__additional {
        font-size: 18px;
    }
   //comments
   .comment__input-submit{
    font-size: 30px;
}
.comment__avatar{
    width: 40px;
    height: 40px;
    top: 8px;
    left: 8px;
}
.comment__item{
    padding: 8px 10px 8px 60px;
}
}
@media screen and (max-width: 320px) {
    .video-place {
        margin-right: 30px;
    }
    .menu__list {
        padding: 0 0 0 10px;
    }
    .menu__item {
        margin-bottom: 15px;
    }
    .menu__link {
        font-size: 18px;
    }
    .menu__link .icon {
        font-size: 22px;
    }
    .menu__notify {
        font-size: 10px;
    }
    .menu__profile-name {
        margin-bottom: 8px;
        font-size: 18px;
    }
    //tabs
    .tab-link {
        font-size: 11px;
    }
    //objects
    .objects {
        flex-direction: column;
    }
    .object-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media screen and (max-height: 560px) {
    // .sign-in-modal__inner {
    //     padding: 1px 40px;
    // }
    .sign-in-sub-title {
        margin: 8px 0 10px;
    }
    .mtr-datepicker .mtr-input-slider {
        margin: 0px 6px;
    }
    .datepicker-controls .button.view-switch {
        height: 1.75em;
    }
    .datepicker-cell,
    .datepicker-view .week {
        height: 1.75rem;
        line-height: 1.75rem;
    }
    .datepicker-view.datepicker-grid .datepicker-cell {
        height: 4rem;
        line-height: 4rem;
    }
    .btn--text {
        font-size: 18px;
        padding: 6px 12px;
    }
    .orientation.changed {
        display: block;
    }
}
@media (hover: none) {
    .mtr-input {
        display: none !important;
    }
}
